<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>

<div th:fragment="tasksFragment" id="replace-me" hx-swap="outerHTML">

    <div class="">
        <table class="table table-xs table-pin-rows table-pin-cols">
            <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Description</td>
                <td>Completed</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <th>1</th>
                <td th:text="${task.name}">Cy Ganderton</td>
                <td th:text="${task.description}">Quality Control Specialist</td>
                <td th:text="${task.completed}">Littel, Schaden and Vandervort</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Description</td>
                <td>Completed</td>
            </tr>
            </tfoot>
        </table>
    </div>

    <script th:inline="javascript">

    </script>
</div>

</body>
</html>
