<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<!-- in usersFragment.html -->

<div th:fragment="combinedFragment" id="replace-me" hx-swap="outerHTML">
    <div class="flex flex-col items-center justify-center h-screen gap-10">

        <form method="get" id="user-select-form" action="#" hx:get="@{/users/tasks}" hx-vals='js:{userId: document.getElementById("user-select").value}'
              hx-push-url="true"
              hx-swap="outerHTML" hx-target="#replace-me">
            <div class="join">
                <div>
                    <div>
                        <label class="sr-only" for="user-search">User Search</label>
                        <input id="user-search" class="input input-bordered join-item" placeholder="Search"/>
                    </div>
                </div>
                <label class="sr-only" for="user-select">User Select</label>
                <select id="user-select" name="userId" class="select select-bordered join-item">
                    <option disabled selected>Select existing user</option>
                    <option th:each="user : ${users}" th:value="${user.id}"
                            th:text="|${user.firstName}  ${user.lastName} (${user.email})|">User
                    </option>
                </select>
                <div class="indicator">
                    <button class="btn join-item">Select</button>
                </div>
            </div>
        </form>

        <div class="divider">OR</div>

        <a id="create-new-user-button" hx:get="@{/users/create}"
           hx-swap="outerHTML" hx-trigger="click"
           hx-target="#replace-me"
           class="btn btn-outline btn-secondary w-full max-w-md"
           role="button">Create new user</a>

    </div>

    <script th:inline="javascript">
        document.getElementById('user-search').addEventListener('blur', (event) => {
            const searchTerm = event.target.value.toLowerCase();

            const userSelect = document.getElementById('user-select');
            for (let i = 0; i < userSelect.options.length; i++) {
                const option = userSelect.options[i];
                const optionText = option.text.toLowerCase();

                option.style.display = optionText.includes(searchTerm) ? '' : 'none';
            }
        });
    </script>
</div>

</body>
</html>
