<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>


<div layout:fragment="content">
<!--    <div th:replace="~{fragments/page-title :: page-title('Contact Nathan')}"></div>-->
    <div th:replace="~{fragments/usersFragment :: contentFragment}"></div>
</div>

<th:block layout:fragment="script-content">
    <th:block th:replace="~{fragments/usersFragment :: scriptContentFragment}"> </th:block>
</th:block>

</body>
</html>
